@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Hind', sans-serif;

    scroll-behavior: smooth;
}
/* here i style the general styles and classes */
a{
    text-decoration: none;
    color: #fff;
}
h1,h2,p{
    text-align: center;
}
section h1{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
section:nth-child(even),.hero{
    color: #fff;
    background-color: #1ABC9C;
}
section:nth-child(odd) .line{
    background-color: #2C3E50;
}
section:nth-child(odd),section:nth-child(even) .line{
    color: #2C3E50;
    background-color: #fff;
}
.section_m{
    padding: 60px 30px;
    max-width: 100vw;
    min-height: 100vh;
}



/* general use classes */
.flex_box{
    display: flex;
    flex-wrap: wrap;
}
.center{
    justify-content: center;
    align-items: center;
}
.between{
    justify-content: space-between;
    align-items: center;
}
.col{
    flex-direction: column;
}
.g10{
    gap: 15px;
}
/* styling the star */
.star{
    font-size: 1.4rem;
    margin-inline: 10px;
}
.line{
    width: 100px;
    height: 3px;
    background-color: #fff;
}





/* styling the navbar */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    
    padding: 10px 50px;

    background-color: #2C3E50;
    color: #fff;
    z-index: 5;
}
.navbar ul{
    width: 230px;
    list-style: none;
}
.navbar ul li a{
    padding: 5px;
    font-size: 1.1rem;

    color: #fff;
    transition: 0.5s;
}
.navbar .menu{
    display: none;

    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 1.3rem;
    transition: 0.5s;
}
/* the hover effect of the nav bar */
.navbar ul li:hover a, .navbar .menu:hover{
    color: #1ABC9C;
}
/* the end of the navbar */


/* styling the hero */
.hero{
    height: 100vh;
    padding: 30px 45px;
}
/* here were i start to style my pic so it shows as the design shows */
.box{
    width: 150px;
    height: 200px;
    position: relative;

    overflow: hidden;
}
.box img{
    width: 150px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    transition: 0.5s;
}
.circle{
    width: 150px;
    height: 150px;

    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 50%;
    background-color: #2C3E50;
    overflow: hidden;
}
.box::before{
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 50px 0 30px #1ABC9C;

    z-index: 4;
}
/* the end of styling my pic */
/* i wanted to make a simple animation to the picture */
.box:hover img{
    transform: translatex(-50%) scale(1.1);
}
.hero h1{
    margin-inline: 10px;
    font-size: 3rem;
    text-transform: uppercase;
}
.hero h2{
    font-size: 1.1rem;
    font-weight: 200;
}
/* the end of the hero */

/* styling the portofolio section */
.container{
    width: 100%;
    margin-top: 20px;
}
/* here i style the divs and animat them */
.slide_box{
    position: relative;
}
.slide{
    width: 200px;
    height: 200px;
    padding: 20px;

    position: absolute;
    left: 10px;
    top: 10px;

    transform-origin: top;
    transform: translateY(100%) rotateX(-90deg);

    border-radius: 10px;
    background-color: #2C3E50;

    transition: 0.5s;
    z-index: 2;
}
.slide h2{
    font-size: 1.5rem;
    color: #fff;
}
.card{
    width: 200px;
    height: 200px;
    margin: 10px;

    transform-origin: bottom;
    position: relative;
    left: 0;
    top: 0;

    transition: 0.5s;
    border-radius: 10px;
    z-index: 3;
}
.card img{
    width: 100px;
    z-index: 1;
}
/* the colors i gave to the cards */
.html{
    background-color:  #ee8368;
}
.css{
    background-color:  rgba(49, 137, 192, 0.6)
}
.js{
    background-color:  #dbc251;
}
.git{
    background-color:  rgb(247, 138, 110)
}
.github{
    background-color:  #303030;
}
.ai{
    background-color:  #FF9A00;
}
.xd{
    background-color:  #FF61F6;
}
.ps{
    background-color:  #31A8FF;
}
/* end of colors */
/* the hover effect to the card and slide dives */
.slide_box:hover .card {
    transform: translateY(-100%) rotateX(90deg);
}
.slide_box:hover .slide {
    transform: translateY(0%) rotateX(0deg);
    cursor: pointer;
}


/* styling the about section */
#about p{
    max-width: 300px;
    text-align: left;
}
.download{
    padding: 10px 20px;
    margin-top: 30px;

    color: #fff;

    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: 0.5s;
}
.download:hover{
    background-color: #fff;
    color: #1ABC9C;

    cursor: pointer;
}
/* the and of the about section */

/* styling the contact section */
form{
    width: 60%;
}
.contact_input{
    padding: 10px 0;

    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #2C3E5099;
}
.contact_input::placeholder{
    font-size: 1rem;
}
.send{
    width: 80px;
    padding: 10px;

    color: #fff;
    background-color: #1ABC9C;
    border: 1px solid #1ABC9C;
    border-radius: 5px;
    transition: 0.5s;
}
.send:hover{
    color: #1ABC9C;
    background-color: transparent;
    border: 1px solid #1ABC9C;

    cursor: pointer;
}
/* the end of styling the contact section */

/* styling the detailes div of the footer*/
footer>div:nth-child(1){
    background-color: #2C3E50;
    justify-content: center;
    align-items: flex-start;
}
footer h1,footer p{
    color: #fff;
}
.bootstrap{
    color: #1ABC9C;
    text-decoration: underline;
}
.detailes{
    max-width: 300px;
    margin: 30px;
}
.social{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-inline: 7px;
    transition: 0.5s;
}
.social a{
    width: 100%;
    height: 100%;
    border-radius: 50%;


}
.social:hover{
    background-color: #fff;
    cursor: pointer;
}
.social:hover a{
    color: #2C3E50;
}
footer h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
/* here is the copyright div */
.copyright{
    background-color: #1A252F;
    padding: 10px;
}







/* the media queries */
@media screen  and (max-width:510px){
    .section_m,.hero{
        padding: 10px;
    }
    .navbar{
        padding: 10px 20px;
    }
    .navbar ul{
        display: none;
    }
    .navbar .menu{
        display: block;
    }
    .card{
        width: 120px;
        height: 120px;
        margin: 5px;
    }
    .card img{
        width: 60px;
    }
    .slide{
        width: 120px;
        height: 120px;
        left: 5px;
        top: 5px;
    }
    .line{
        width: 70px;
    }
    html{
        font-size: 14px;
    }
    form{
        width: 80%;
    }
}